HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.mvn
.settings
target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
mvnw.cmd
mvnw
front-end/Dockerfile.old
back-end/src/main/resources/application.properties
docker-compose.yml
docker-compose-local.yml
back-end/logs/spring-boot-logger.log
_docker-compose.yml
_docker-compose.yml
